UNIFORM_API_KEY=
UNIFORM_PROJECT_ID=
UNIFORM_PREVIEW_SECRET=hello-world

# same as UNIFORM_PROJECT_ID 
NEXT_PUBLIC_UNIFORM_PROJECT_ID=
NEXT_PUBLIC_UNIFORM_SEARCH_API_URL=
NEXT_PUBLIC_UNIFORM_SEARCH_API_KEY=
