html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3fcff;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
