# Authentication to Uniform
UNIFORM_API_KEY=
UNIFORM_PROJECT_ID=
UNIFORM_PREVIEW_SECRET=hello-world

# ---------------------------------------------------
# Protected Routes Edge Config Settings
# Edge Config connection string (for reading)
EDGE_CONFIG=
# Edge Config ID (for updates via webhook)
EDGE_CONFIG_ID=
# Vercel API token (for updating Edge Config)
VERCEL_API_TOKEN=

# ---------------------------------------------------
# Better Auth Configuration
# The base URL of your application
# default is http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000
# Authentication Secret (generate a 32 char random string for production)
# Example: openssl rand -base64 32
BETTER_AUTH_SECRET=

# Google example
# https://better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
