html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3fcff;
}

.footer {
  display: flex;
  flex: 1;
  margin-top: 20px;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer span {
  padding-right: 1rem;
}

.title {
  color: #438fd5;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.searchBox {
  margin-top: 20px;
}

.index {
  margin-top: 20px;
}

.refinementList {
  margin-top: 20px;
}

.hits {
  margin-top: 30px;
}

.pagination {
  margin-top: 20px;
}

.callout {
  background-color: rgb(254, 242, 242);
  padding: 1rem 2.5rem;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  color: rgb(153, 27, 27);
  font-size: .875rem;
}

.callout-title {
  font-weight: 700;
}
