html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3fcff;
}

.callout {
  background-color: rgb(254, 242, 242);
  padding: 1rem 2.5rem;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  color: rgb(153, 27, 27);
  font-size: .875rem;
}

.callout-title {
  font-weight: 700;
}
