:root {
	--FFFFFF: #FFFFFFFF;
	--1A202C: #1A202C;
	--1A365D: #1A365D;
	--E2E8F0: #E2E8F0;
	--F59E0B: #F59E0B;
	--065F46: #065F46;
	--D1FAE5: #D1FAE5;
	--10B981: #10B981;
	--7C2D12: #7C2D12;
	--FED7AA: #FED7AA;
	--FB923C: #FB923C;
	}
