html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3fcff;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 2rem;
}

.deployed-preview-banner {
  background: red;
  color: white;
  width: 100%;
  padding: 0.5rem;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation span {
  padding-left: 2rem;
}

.main {
  min-height: 20vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer span {
  padding-right: 1rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color: #438fd5;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.note {
  font-size: 1rem;
  font-style: italic;
}

.preview-button {
  position: absolute;
  left: 0.3rem;
  bottom: 0.3rem;
  background-image: linear-gradient(
    to right,
    #d31027 0%,
    #ea384d 51%,
    #d31027 100%
  );
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.preview-button-on {
  background-image: linear-gradient(
    to right,
    #d31027 0%,
    #ea384d 51%,
    #d31027 100%
  );
  color: white;
  box-shadow: 0 0 20px #eee;
}


/* COLORS:

blue: #83c6e1 
blue2: #438fd5
red: #f4220b
*/


.preview-button-off {
  background-image: linear-gradient(
    to right,
    #83c6e1 0%,
    #438fd5 51%,
    #83c6e1 100%
  );
  color: white;
  box-shadow: 0 0 20px #eee;
}

.preview-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
