html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3fcff;
}

.footer {
  display: flex;
  flex: 1;
  margin-top: 20px;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer span {
  padding-right: 1rem;
}

.thumbnail-image {
  object-fit: contain;
}
