# Uniform downloads the intent data at build time and bakes it into your site so there are no additional required network requests.
UNIFORM_API_KEY='<uniform-api-key>'

# The Uniform project ID that this site is connected to. Automatically used by the CLI when downloading the intent manifest.
UNIFORM_PROJECT_ID='<uniform-project-id>'
